* {
    font-family: 'Inter', sans-serif;
}

.btnAudaces {
    color: #fff;
    width: 220px;
    height: 50px;
    background: #0073CF;
    border-radius: 6px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.btnAudacesGray {
    color: #A098AE;
    width: 220px;
    height: 50px;
    background: #EBEBEB;
    border-radius: 6px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.btnAudacesRed {
    color: #fff;
    width: 220px;
    height: 50px;
    background: #FF4141;
    border-radius: 6px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}