.divTitle {
    margin: 45px 0 40px 10px;

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
}

.formModel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .divColumn {
        width: 90%;
        padding-top: 40px;
    }

    .inputLabel {
        padding: 0 15px;
    }

    .inputRadio {
        margin-left: 41px;
    }
}

.alert-danger {
    width: 410px;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 11pt;
    height: 50px;
    position: absolute;
    top: 77%;
    right: 11%;

    .btnClose {
        position: relative;
        left: 20px;
        font-weight: 600;
        font-size: 16pt;
        align-content: left;
        background: none;
        border: none;
        color: rgb(179, 80, 80);
    }
}

.divButtons {
    position: absolute;
    top: 85%;
    width: 90%;

    .btnAudacesRed {
        float: left;
        margin-left: 7%;
    }

    .btnAudacesGray,
    .btnAudaces {
        float: right;
    }

    .btnAudacesGray {
        margin: 0 45px;
    }
}